
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    background-color: #142850;
    color: #dae1e7;
}

.menuBar {
    width: 100%;
    padding: 1.5em;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    border-bottom: 3px solid #dae1e7;
    background-color: #142850;
}

.logo {
    font-size: 1.5em;
    margin-left: 1em;
}

.menuLink {
    display: flex;
    flex-direction: row;
}

.menuLink a {
    margin: .5em 1.2em;
    padding: .5em;
    text-decoration: none;
    color: #dae1e7;
    font-weight: bold;
    transition: 0.1s;
}

.menuLink .lambang {
    display: flex;
    align-items: center;
    color: #27496d;
    font-size: larger;
}

.menuLink a:hover {
    border-bottom: 4px solid #00909e;
    padding-bottom: 0;
}

#active {
    border-bottom: 4px solid #00909e;
    padding-bottom: 0;
}

.container {
    padding: 7em 3em;
}

.user {
    color: #00909e;
}

.menuLink #user:hover {
    cursor: default;
    border: none;
}

.article-list {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.list-title {
    margin-left: 8%;
    font-size: larger;
}
.coba2{
    padding:3em 15em;
}
.ArticleKonten{
    background-color: #dae1e7;
    color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    padding:20px;
}
.ArticleKonten .pembuat{
    color: #00909e;
}
.ArticleKonten>h1{
    text-align: center;
    font-size: 50px;
}
.ArticleKonten>img{
    height: auto;
    width:200px;
    margin: auto;
}
.ArticleKonten .tulisan{
    padding:0em 100px;
}
.footerPage {
    padding: 0.2em 6em;
    height: auto;
    color: #27496d;
    background-color: #dae1e7;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    margin-right: 10em;
}

.footerContent > h1 {
    font-size: 1.8em;
}

.footerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3em;
}

.footerContact {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: -10em;
}

.footerContact > a {
    padding: 5px;
    text-decoration: none;
    color: #27496d;
}

.footerLine {
    width: 100%;
    height: 5px;
    background-color: #00909e;
}

.footerPage>h3 {
    padding: 1em;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}