* {
    margin: 0;
    padding: 0;
    background-color: #142850;
    color: #dae1e7;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box {
    display: flex;
    flex-direction: column;
    border: 4px solid #00909e;
    border-radius: 3em;
    box-shadow: 0px 0px 50px 10px #00919e73;
    justify-content: space-around;
    padding: 1em 3em;
}

.container .box h1 {
    padding-bottom: 1px;
    margin-bottom: 2em;
    margin: auto;
    border-bottom: 3px solid #00909e;
    font-weight: 400;
}

.container .box .form-list .form-group {
    padding: 3em 0;
}

.container .box .form-list .form-group .list {
    display: flex;
    flex-direction: column;
}

.container .box .form-list .form-group .list input {
    margin-top: .6em;
    margin-bottom: .6em;
    padding: 5px;
    width: 80vh;
    border: 4px solid #00909e;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #dae1e7;
    color: black;
}

.container .box .form-list .list p {
    font-size: small;
    margin-right: 35px;
}

.container .box .form-list .send {
    padding-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

.container .box .form-list .send button {
    border: 3px solid #00909e;
    border-radius: 10px;
    padding: .3em .7em;
    font-size: 20px;
    font-weight: 520;
}

.container .box .form-list .form-group .label {
    margin-top: .6em;
}

.container .box .form-list .form-group .label label {
    font-size: 25px;
}

.container .box .form-list .form-group .alert {
    background-color: #00909e;
    color: #dae1e7;
    padding: .6em;
    border-radius: 6px;
}