*{
    margin: 0;
    padding: 0;
    background-color: #142850;
    color: #dae1e7;
}

.box{
    font-family: roboto;
    border: 5px solid #00909e;
    border-radius: 3em;
    box-shadow: 0px 0px 50px 10px #00919e73;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10em 30em;
}

.box h1{
    padding-bottom: 1px;
    margin: 30px 0px 50px 0px;
    font-weight: 400;
    border-bottom: 3px solid #00909e;
}

.box h2{
    padding-right: 66%;
    margin: 5px 0px 5px 5px;
    font-weight: 400;
}

.box input{
    border: 4px solid #00909e;
    padding: 5px 5px;
    width: 76%;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #dae1e7;
    color: black;
}

.box p{
    font-size: small;
    margin: 10px 10px;
    text-align: left;
    padding-right: 120px;
}

.box button{
    border: 3px solid #00909e;
    border-radius: 10px;
    margin: 10px 40px 40px 31em;
}

.box button h3{
    margin: 5px;
    padding: 2px 5px;
}